* {
    box-sizing: border-box;
    /* causes padding and border to be included inside the specified width for element */
}

body {
    background-color: #FFCB05;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    background-color: #3D7DCA;
    Border: solid 5px #003A70;
    color: #FFCB05;
    padding: 10px;
    border-radius: 25px;
}
